<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Member">
    <insert id="save" parameterType="member">
        insert into member_table(memberEmail, memberPassword, memberName, memberAge)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberAge})
    </insert>
    <select id="login" parameterType="member" resultType="member">
    Select * from member_table where memberEmail=#{memberEmail} and memberPassword=#{memberPassword}
    </select>

    <select id="memberList" resultType="member">
        select * from member_table
    </select>

    <select id="find" resultType="member" parameterType="Long">
        select *from member_table where Id=#{Id}
    </select>

    <delete id="del" parameterType="Long">
        delete from member_table where id=#{clickedId};
    </delete>

    <select id="get" resultType="member" parameterType="String">
        select *from member_table where memberEmail=#{memberEmail}
    </select>

    <update id="up" parameterType="member">
        update member_table set memberName = #{memberName} ,  memberAge = #{memberAge} where id = #{id}
    </update>


    <select id="check" resultType="member" parameterType="String">
        select *from member_table where memberEmail=#{memberEmail}
    </select>








</mapper>